.about-us {
  display: flex;
  justify-content: space-between;
  flex-basis: 31%;

  @media (max-width: 1023px) {
    flex-basis: 55%;
  }

  @media (max-width: 727px) {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}

.about-us__list {
  @include list-reset();
  font-size: 16px;
  line-height: 130%;
  padding: 9px 0 0 8px;

  @media (max-width: 727px) {
    flex-basis: 100%;
    padding: 9px 0 10px 0;
  }
}

.about-us__item {
  margin-bottom: 22px;
}

.about-us__item a {
  @include hover-focus-activity();
}
