.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 90px 0 68px 0;
  min-width: 320px;

  @media (max-width: 1023px) {
    padding: 50px 0 33px 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}
