.gallery {
  padding: 0 0 130px 0;

  @media (max-width: 1024px) {
    padding: 0 0 70px 0;
  }

  @media (max-width: 727px) {
    padding: 0 0 60px 0;
  }
}

.gallery__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 230px;

  @media (max-width: 1024px) {
    min-height: 190px;
    margin-bottom: 12px;
  }

  @media (max-width: 727px) {
    min-height: 160px;
    margin-bottom: 15px;
  }
}

.gallery h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #1d1613;
  margin: 0 0 25px 0;

  @media (max-width: 1024px) {
    margin: 0 0 15px 0;
  }
}

.gallery span {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  color: #000000;
}

.gallery a {
  @include hover-focus-activity();
  color: #1d1613;
  position: relative;
  border-bottom: 1px solid #a87b62;
  line-height: 180%;
}

.gallery__list {
  @include list-reset();
  display: grid;
  grid-template-columns: 1fr 1.75fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 35px;

  @media (max-width: 1024px) {
    grid-template-rows: 54% 35%;
    column-gap: 15px;
    row-gap: 20px;
  }

  @media (max-width: 727px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 36% 23% 23%;
    column-gap: 25px;
    row-gap: 27px;
    margin: 0 auto;
  }
}

.gallery__item--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.gallery__item--2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.gallery__item--3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.gallery__item--4 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  @media (max-width: 727px) {
    display: none;
  }
}

.gallery__item--5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  @media (max-width: 727px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.gallery__item--6 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;

  @media (max-width: 727px) {
    display: none;
  }
}

.gallery__item--7 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;

  @media (max-width: 727px) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.gallery img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
