.header {
  outline: 3px dotted rgb(187, 84, 228);
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f6f5f4;
    top: 115px;
  }

  @media (max-width: 1023px) {
    background-image: linear-gradient(to bottom, transparent, transparent 126px, #a87b62 126px, #a87b62);

    &::before {
      display: none;
    }
  }

  @media (max-width: 727px) {
    background-image: linear-gradient(to bottom, transparent, transparent 92px, #a87b62 92px, #a87b62);
  }
}

.header__header-content {
  display: flex;
  justify-content: space-between;
  min-height: 115px;
  padding: 10px 0 0 0;

  @media (max-width: 1023px) {
    padding: 30px 0;
  }

  @media (max-width: 727px) {
    padding: 10px 0;
    min-height: 92px;
  }
}

.header__burger {
  @include hover-focus-activity();
  display: none;
  width: 25px;
  height: 18px;
  padding: 0;

  background: transparent;
  border: none;
  outline: none;

  @media (max-width: 1023px) {
    display: flex;
    align-self: center;
    visibility: hidden;
  }
}

.header__burger svg {
  @media (max-width: 1023px) {
    display: block;
    width: 25px;
    height: 18px;
  }
}

.header__burger--js {
  visibility: visible;
}

.header__logo {
  @include hover-focus-activity();
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #a87b62;

  @media (max-width: 727px) {
    width: 52px;
    height: 52px;
  }
}

.header__user-bar {
  width: 100%;

  @media (max-width: 1023px) {
    width: auto;
  }
}
