.main {
  flex-grow: 1;

  &--nojs-inner-page {
    padding-bottom: 60px;
  }
}

.main__filter-button {
  display: none;

  @media (max-width: 1023px) {
    justify-content: center;
    align-items: center;
    background-color: #a87b62;
    display: flex;
    line-height: 68px;
    margin: 50px 0;
    align-self: center;
    width: calc(100% - 30px);
  }

  @media (max-width: 727px) {
    margin: 40px 0;
  }
}

.main__filter-block {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 650px;
  align-self: flex-start;
  padding: 80px 0 0 0;

  @media (max-width: 1023px) {
    display: none;
  }
}

.main__filter-block--modal {
  @media (max-width: 1023px) {
    padding: 30px 0 0 0;
    display: flex;
    width: 430px;
  }

  @media (max-width: 727px) {
    width: 270px;
  }
}

.main__filter-block--nojs-inner-page {
  @media (max-width: 1023px) {
    display: flex;
    width: 430px;
  }

  @media (max-width: 1023px) {
    width: 270px;
  }
}

.main__catalog-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 285px);
  padding: 80px 0 140px 0;

  @media (max-width: 1023px) {
    width: 100%;
    padding: 0 0 135px 0;
  }

  @media (max-width: 727px) {
    padding: 0 0 103px 0;
  }
}
