.social {
  @include list-reset();
  font-size: 16px;
  line-height: 130%;
  padding: 9px 0 0 12px;
  flex-basis: 11%;
  margin-left: auto;

  @media (max-width: 1023px) {
    // flex-basis: 100%;
    margin-left: 70px;
  }

  @media (max-width: 727px) {
    margin-left: 0;
    padding: 12px 0 0 0;
    display: flex;
  }
}

.social__item {
  margin-bottom: 22px;
}

.social__item span {
  @media (max-width: 727px) {
    display: none;
  }
}

.social__item a {
  display: flex;
}

.social__icon {
  width: 30px;
  padding: 0 0 0 5px;

  @media (max-width: 727px) {
    width: 46px;
    padding: 0;
  }
}

.social__icon svg {
  display: flex;
  width: 22px;
  height: 22px;
}
